@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap");

body {
  font-size: 50px;
  font-family: "Balsamiq Sans";
  margin: 0;
  padding: 0;
  display: flexbox;
  flex-direction: column;
}

h2 {
  text-align: center;
}
