.navbar {
  background-color: beige;
  border-bottom: cadetblue;
}

img {
  height: 4rem;
  width: auto;
}

.navbar-links {
  margin: 0;
  padding: 0;
}

.navbar-links-items {
  margin: 0;
  padding: 20px;
  display: inline-block;
}
